#ac-btn{
    width: 70px;
    margin-left: 30%;
    background-color: salmon;
    box-shadow: 2px 3px 4px gray;
    border-radius: 10px;
    padding: 3px;
}
.full-cal{
    margin-left: 40%;
    margin-right:605px;
    /* border: 3px solid white; */
    border-radius: 5px;
    padding: 10px;
    background-color: silver;
    box-shadow: 3px 8px 30px 8px gray;
}
.btn-style{
    width: 54px;
    background-color:lightgoldenrodyellow;
    border-radius: 50px;
    box-shadow: 2px 4px 4px gray;
}
#input-btn{
    border-radius: 5px;
    padding: 5px;
    color: red;
    background-color:ghostwhite;
    /* box-shadow: 1px 1px 1px 1px gray; */
}
#equal-btn{
    background-color: gold;
}